*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100vh;
    background-color: #2B809B;
    text-align: center;   
}

.centrar-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*contenedor*/
#contenedor{
    height: 220px;
    width: 450px;
    background-color: whitesmoke;
    border: 5px solid black;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/*texto*/

#color{
    font-size: 70px;
    font-weight: bold;
}


/*Botón*/

button{
    font-size: 30px;
    color: whitesmoke;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: #008CBA;
    margin: 15px;
    padding: 10px 30px;
    border: 3px solid #008CBA;
    user-select: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover{
    background-color: #05455A;
}